@model List<Book>

@if (TempData["Message"] != null)
{
    <h5 class="alert alert-info">@TempData["Message"]</h5>
}
@if (Model.Count == 0)
{
    <h2 class="alert alert-danger text-center">No Book in DB yet</h2>
    <h3 class="text-center"><a class="btn btn-success" asp-controller="Book" asp-action="Add">Add</a></h3>  
}
else
{
    <div class="input-group">
        <form asp-controller="Book" asp-action="Search" method="post">
            <div class="form-group">
                <!--keyword: gia tri chuyen vao -->
                <input type="search" required name="keyword" placeholder="Search by book name">
                <input type="submit" class="btn-primary" value="search">
            </div>
        </form>
    </div>
    <div class="">
        <a class="btn btn-info" asp-controller="Book" asp-action="SortASC">ASC</a>
        <a class="btn btn-info" asp-controller="Book" asp-action="SortDSC">DSC</a>
        <a class="btn btn-danger" asp-controller="Order" asp-action="Detail">Order</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="h3 text-center" colspan="7">Book List</th>
                <th>
                    <a class="btn btn-success" asp-controller="Book" asp-action="Add">
                        Add
                    </a>
                </th>
            </tr>
            <tr>
                <th class="text-center">
                    Name
                </th>
                <th class="text-center">
                    Price
                </th>
                <th class="text-center">
                    Quantity
                </th>
                <th class="text-center">
                    Category
                </th>
                <th class="text-center">
                    Author
                </th>
                <th class="text-center">
                    Publisher
                </th>
                <th class="text-center">
                    Image
                </th>
                <th class="text-center">
                    Menu
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model)
            {
                <tr>
                    <td>
                        @b.Name
                    </td>
                    <td>
                        @b.Price
                    </td>
                    <td>
                        @if (b.Quantity<1)
                            {
                                <h5 class="text-danger">Out of stock</h5>
                            }
                        else {
                            <h5 class="text-danger">@b.Quantity</h5>
                        }
                    </td>
                    <td>
                        <a asp-controller="Category" asp-action="Index" asp-route-id="@b.CategoryId">@b.CategoryName
                        </a>
                    </td>
                    <td>
                        @b.Author
                    </td>
                    <td>
                        @b.Publisher
                    </td>
                    <td class="text-center">
                        <a asp-controller="Book" asp-action="Detail" asp-route-id="@b.Id">
                            <img src="@b.Image" width="80" height="130">
                        </a>
                    </td>
                    <td>
                        <form asp-controller="Order" asp-action="Add">
                            <div class="mb-2">
                                <input type="hidden" name="id" value="@b.Id"> <!--truyen id vao controller-->
                                <input type="number" name="quantity" required min="1" max="@b.Quantity">
                                <input type="submit" class="btn btn-success" value="Order"
                                onclick="return confirm('Do you want to make this order?')">
                            </div>
                        </form>
                        <a class="btn btn-warning" asp-controller="Book" asp-action="Edit" asp-route-id="@b.Id">Edit</a>
                        <a onclick="return confirm('Are you sure?');" class="btn btn-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@b.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}